@model IEnumerable<PaymentPortal.Models.UsersModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserLogin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockedOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockedOutEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserCreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserIsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmailConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPhoneNumberConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserBillingAddress1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserBillingAddress2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserBillingCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserBillingState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserBillingZip)
        </th>
        <th></th>
    </tr>*@

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserLogin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordHash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessFailedCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockedOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockedOutEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserCreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserIsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmailConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPhoneNumberConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserBillingAddress1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserBillingAddress2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserBillingCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserBillingState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserBillingZip)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
